# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Git-related files
.git
.gitignore

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Logs or temp files
*.log
